@use "../mixins" as *;
@use "../variables" as *;

.small-btn {
  @include btn(
    $white,
    transparent,
    18px,
    $white,
    16px,
    16px,
    22px,
    $third-family,
    500
  );
  min-width: 185px;
  &:hover {
    background-color: $pink;
    border-color: $pink;
  }
  &:active {
    color: $dark-gray;
    background-color: $pink;
  }
  &:disabled {
    color: $dark-gray;
    opacity: 0.3;
    background-color: $pink;
    border-color: $light-pink;
  }
}

.long-btn {
  @include btn(none, $pink, 18px, $white, 24px, 18px, 24px, $font-family, 400);
  min-width: 350px;
  &:hover {
    box-shadow: 0 0 30px 2px $pink;
    background: $white;
    color: $dark-gray;
  }
  &:active {
    box-shadow: none;
    background: $white;
    color: $dark-gray;
  }
  &:disabled {
    opacity: 0.3;
    background: $white;
    color: $dark-gray;
  }
}

.small-btn--mobile {
  background-color: $pink;
  border-color: $pink;
  display: block;
  min-width: 248px;
  border-radius: 9px;
}
