@use "../variables" as *;
@use "../mixins" as *;
.header {
  position: relative;
  z-index: 3;
}
.header__wrapper {
  display: flex;
  align-items: center;
  padding: 25px 0;
}
.header__title {
  font-family: $second-family;
  font-weight: 400;
  font-size: 44px;
  line-height: 110%;
  color: $white;
}
.header__logo {
  display: flex;
  gap: 18px;
  align-items: center;
  @include min-max(110px, auto);
}
.header__nav {
  flex: 1;
  display: flex;
  justify-content: flex-end;
  padding-right: clamp(0px, 5vw, 150px);
}
.header__list {
  display: flex;
  flex: 1;
  padding: 0 15px;
  align-items: center;
  justify-content: space-between;
  gap: 15px;

  @include min-max(300px, 400px);
}
.header__link {
  font-family: $second-family;
  font-weight: 400;
  font-size: 24px;
  line-height: 110%;
  color: $white;
  opacity: 0.6;
  transition: all 0.2s ease-in-out;

  &:hover {
    color: $light-pink;
  }
  &:active {
    color: $pink;
  }
  &:disabled {
    color: $light-pink;
    opacity: 0.3;
  }
}

.burger__menu {
  position: relative;
  width: 27px;
  height: 18px;
  display: none;
  z-index: 6;
}
.burger__menu div {
  height: 1px;
  width: 100%;
  position: absolute;
  background-color: $white;
  transition: all 0.2s ease-in-out;
}
.burger__menu div:nth-child(1) {
  top: 0;
}
.burger__menu div:nth-child(2) {
  top: 50%;
  transform: translateY(-50%);
}
.burger__menu div:nth-child(3) {
  bottom: 0;
}

.burger__menu--active {
  & div:nth-child(1) {
    display: none;
  }
  & div:nth-child(2) {
    transform: rotate(-45deg);
  }
  & div:nth-child(3) {
    bottom: 50%;
    transform: translateY(50%) rotate(45deg);
  }
}

.header__menu {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  background-color: $dark-gray;
  z-index: 5;
  padding-top: 36px;
  padding-bottom: 36px;
  transform: translateY(-100%);
  transition: all 0.2s ease-in-out;
}

.header__menu--active {
  transform: translateY(100%);
}

.header__menu-container {
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 36px;
}

.header__menu-list {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 36px;
}

.header__menu-link {
  font-family: $font-family;
  font-weight: 400;
  font-size: 16px;
  line-height: 110%;
  color: $white;
}
