include ./_button.pug

section.hero 
    .container
        .hero__wrapper  
            .hero__info
                h1.hero__title.
                    <span class="gradient"> Нейросеть </span>
                    может все!
                p.hero__desk Мы&nbsp;уже живем в&nbsp;этой удивительной реальности
                +button("Погрузиться в новый мир", "long-btn feedback-btn")
            .hero__img-wrapper  
                img.hero__img(src=imgPath + "hero.png", alt="hero")