include ./_button.pug

.header__menu 
    .header__menu-container
        ul.header__menu-list 
            li.header__menu-item 
                a.header__menu-link(href="#") Главная
            li.header__menu-item 
                a.header__menu-link(href="#") Преимущества
        +button("Получить доступ", "small-btn small-btn--mobile feedback-btn")