- const iconsPath = "./assets/img/icons/";
- const imgPath = "assets/img/";


doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        title Document
        link(rel="stylesheet", href="./style/style.css")
        script(src="./js/script.js" defer) 
    body
        include ./components/_header.pug
        include ./components/_hero.pug
        include ./components/_advantages.pug
        include ./components/_form.pug
        .overlay 
        

