@font-face {
  font-family: "Evolventa";
  src: url(../assets/fonts/Evolventa-Regular.otf);
  font-weight: 400;
  font-display: swap;
}
@font-face {
  font-family: "Involve";
  src: url(../assets/fonts/Involve-Regular.ttf);
  font-weight: 400;
  font-display: swap;
}
@font-face {
  font-family: "Involve";
  src: url(../assets/fonts/Involve-Medium.ttf);
  font-weight: 500;
  font-display: swap;
}
@font-face {
  font-family: "Involve";
  src: url(../assets/fonts/Involve-Bold.ttf);
  font-weight: 700;
  font-display: swap;
}
@font-face {
  font-family: "Inter";
  src: url(../assets/fonts/Inter.ttf);
  font-display: swap;
}
@font-face {
  font-family: "Raleway";
  src: url(../assets/fonts/Raleway.ttf);
  font-weight: 400;
  font-display: swap;
}
