$font-family: "Evolventa", sans-serif;
$second-family: "Involve", sans-serif;
$third-family: "Inter", sans-serif;
$font3: "Raleway", sans-serif;

$dark-gray: #0c0d12;
$light-gray1: #161524;
$light-gray2: #1b1a2c;
$pink: #ca0078;
$light-pink: #f706a3;
$blue: #5a73ef;
$mint: #81f3f8;
$white: #fff;
